/*
Author: Mataga Believe
Date: 28 March 2022
Twitter: @merzadev 
Github: @merzainc
*/

/** Override default bootstrap color variables **/
$primary: #e0a82e;
$secondary: #6d3a9c;
$success: #47BD2D;


/** Import bootstrap styles **/
@import 'bootstrap/scss/bootstrap';